h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
 }

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 0;
	font-weight: normal;
	position: relative;
	padding: 0 0 10px 0;
	font-weight: normal;
	line-height: 120% !important;
	color: #1f1f1f;
	margin: 0
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #212121;
	text-decoration: none !important;
	opacity: 1
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	opacity: .8
}

h1 {
	font-size: 24px
}

h2 {
	font-size: 22px
}

h3 {
	font-size: 18px
}

h4 {
	font-size: 21px;
	color: #07528d;
	margin-top: 25px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 13px;
}

hr {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px solid rgba(52, 109, 108, 0.662)
}


