.btn-3d {
    display: grid;
    grid-auto-flow: row;
    padding: .6rem 1rem;
    text-align: center;
    border: 2px solid #13035c;
    border-radius: 4px;
    /* background-color: #2e1292; */
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset,
        0 1px 3px rgba(0, 0, 0, .2);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgb(104, 145, 199)), to(#4b549e));
    /* background-image: linear-gradient(#f90 10%, #e76a00 100%); */
}

.btn-3d:hover,
.btn-3d:focus {
    color: black;
    background-color: #e0811b;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #dedfa6), to(rgb(214, 207, 99)));
}

.btn-3d:active {
    background-color: #cf6a00;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2) inset;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #f0a100), to(#f70));
    background-image: linear-gradient(#f0a100 10%, #f70 100%);
}
