.sellers-list-box {
    position: absolute;
    width: 65vw;
    height: 100vh;
    background: none;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    margin-top: 70px;
    margin-bottom: 70px;
}