.settings-table-box {
    width: 900px;
    height: 420px;
    /* background: var(--bg-settings-form); */
    color: var(--white);
    top: 35%;
    left: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 0;
}

.settings-table-inner {
    box-shadow: var(--shadow-table-inner);
    border-radius: 15px;
}