.section-home {
    width: 100%;
    max-width: 920px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    background-color: var(--bg-home-section);
    color: var(--white);
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: var(--shadow-home);
    border-radius: 15px;
}

.title_home {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 45px;
    color: var(--white);
}

.sub_title_home {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 35px;
    color: var(--white);
}